# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
.venv/
venv/
ENV/
env.bak/
venv.bak/

# Environment Variaxbles
.env
.env.*
!.env.example

# Node / Frontend
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
.pnp
.pnp.js
coverage/
dist/
build/

# Databases
*.db
*.sqlite3
*.sqlite

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Local data / Temp
tmp/
temp/
logs/
*.log